#home {
    display: flex;
    min-height: calc(100vh - 75px);
    position: relative;
}

#cta {
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

#cta .title {
    color: #1A1A2E;
    font-size: 3.2em;
    font-weight: 900;
}

#cta .description {
    color: #1A1A2E;
    font-size: 1.7em;
    font-weight: 400;
}

.badges {
    display: flex;
    margin-bottom: 0.7em;
    font-size: 1em;
    gap: 20px;
}

#cta .description i {
    margin-bottom: 0.7em;
    display: flex;
}

#cta .description i span {
    font-size: 0.7em;
    margin-left: 0.5em;
    font-weight: 400;
}

#cta .cta_button a{
    background-color: #00cfab;
    font-weight: 900;
    text-decoration: none;
    color: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

#cta .cta_button a:hover {
    background-color: #00b696;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 207, 171, 0.3);
}

#cta .cta_button a:active {
    transform: translateY(-1px);
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 65%;
    position: relative;
}

#banner img {
    width: 83%;
    max-width: 900px;
    height: 100%;
    background-position: center;
    object-fit: cover;
    object-position: center 30%;
    border-radius: 0 0 0 100px;
} 

#banner .shape {
    background-color: #0077ed;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1.2%;
    opacity: 85%;
    width: 32%;
    height: auto;
    bottom: 8%;
    left: 12%;
}

#banner .title_shape {
    font-size: 1.8em;
    font-weight: 1000;
}

#banner .description_shape {
    font-size: 1em;
    font-weight: 500;
}

.badges i.fa-award::before {
    transform: scale(1.2);
    display: inline-block;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
    }

    #banner,
    #banner img,
    #banner .shape {
        display: none;
    }

    #cta {
        width: 100%;
    }

    #cta .title {
        font-size: 3em;
    }

    #cta .description {
        font-size: 1.5em;
    }
}