@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

section {
    padding: 3em 10%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    background-color: #00cfab;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-default:hover {
    background-color: #00a38e;
}